<div class="container">
  <center>
  <ul class="nav navbar-nav">
    <li class="li-margin"><a ng-style="googleStyle" ng-click="showgoogle=true; showdropbox=false; showbox=false; showlocal= false; googleStyle={'background-color':'green'}; dropboxStyle={'background-color':'white'}; boxStyle={'background-color':'white'}; localStyle={'background-color':'white'}" href="#"><img class="drive-size" id="google" src="../img/google.png"></a></li>
    <li class="li-margin"><a ng-style="dropboxStyle" ng-click="showgoogle=false; showdropbox=true; showbox=false; showlocal= false; googleStyle={'background-color':'white'}; dropboxStyle={'background-color':'blue'}; boxStyle={'background-color':'white'}; localStyle={'background-color':'white'}" href="#"><img class="drive-size" src="../img/dropbox.png"></a></li>
    <li class="li-margin"><a ng-style="boxStyle" ng-click="showgoogle=false; showdropbox=false; showbox=true; showlocal= false; googleStyle={'background-color':'white'}; dropboxStyle={'background-color':'white'}; boxStyle={'background-color':'violet'}; localStyle={'background-color':'white'}" href="#"><img class="drive-size" src="../img/box.png"></a></li>
    <li class="li-margin"><a ng-style="localStyle" ng-click="showgoogle=false; showdropbox=false; showbox=false; showlocal= true; googleStyle={'background-color':'white'}; dropboxStyle={'background-color':'white'}; boxStyle={'background-color':'white'}; localStyle={'background-color':'red'}" href="#"><img class="drive-size" src="../img/local.png"></a></li>
  </ul>
  </center>
</div>

<div ng-show="showgoogle"class="container" id="google-display">
	
	<div class="dropdown" id="file-operation">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" >
	    	Operation
	    	<span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li class="{{create}}"><a href="#">Create</a></li>
	      <li class="divider"></li>
	      <li class="{{rename}}"><a href="#">Rename</a></li>
	      <li class="divider"></li>
	      <li class="{{del}}"><a href="#">Delete</a></li>
	      <li class="{{download}}"><a href="#">Download</a></li>
	      <li class="{{transfer}}"><a href="#">Transfer</a></li>
	      <li class="divider"></li>
	      <li ng-click="selectAllGoogle()"><a href="#">Select-All</a></li>
	      <li ng-click="selectNoneGoogle()"><a href="#">Select-None</a></li>
	    </ul>
	</div>

	<ul ng-repeat="x in googleFile" class="nav navbar-nav">
		<li>
			<img class="folder-size-green" ng-src="{{x.folder}}" ng-click="toggleFolder(x)">
			<br/>
			<div class="folder-name" style="color:green">{{x.name}}</div>
		</li>
	</ul>
</div>

<div ng-show="showdropbox" class="container" id="dropbox-display">

	<div class="dropdown" id="file-operation">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" >
	    	Operation
	    	<span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li class="{{create}}"><a href="#">Create</a></li>
	      <li class="divider"></li>
	      <li class="{{rename}}"><a href="#">Rename</a></li>
	      <li class="divider"></li>
	      <li class="{{del}}"><a href="#">Delete</a></li>
	      <li class="{{download}}"><a href="#">Download</a></li>
	      <li class="{{transfer}}"><a href="#">Transfer</a></li>
	      <li class="divider"></li>
	      <li ng-click="selectAllDropbox()"><a href="#">Select-All</a></li>
	      <li ng-click="selectNoneDropbox()"><a href="#">Select-None</a></li>
	    </ul>
	</div>

	<ul ng-repeat="x in dropboxFile" class="nav navbar-nav">
		<li>
			<img class="folder-size-blue" ng-src="{{x.folder}}" ng-click="toggleFolder(x)">
			<br/>
			<div class="folder-name" style="color:blue">{{x.name}}</div>
		</li>
	</ul>
</div>

<div ng-show="showbox"class="container" id="box-display">

	<div class="dropdown" id="file-operation">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" >
	    	Operation
	    	<span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li class="{{create}}"><a href="#">Create</a></li>
	      <li class="divider"></li>
	      <li class="{{rename}}"><a href="#">Rename</a></li>
	      <li class="divider"></li>
	      <li class="{{del}}"><a href="#">Delete</a></li>
	      <li class="{{download}}"><a href="#">Download</a></li>
	      <li class="{{transfer}}"><a href="#">Transfer</a></li>
	      <li class="divider"></li>
	      <li ng-click="selectAllBox()"><a href="#">Select-All</a></li>
	      <li ng-click="selectNoneBox()"><a href="#">Select-None</a></li>
	    </ul>
	</div>

	<ul ng-repeat="x in boxFile" class="nav navbar-nav">
		<li>
			<img class="folder-size-violet" ng-src="{{x.folder}}" ng-click="toggleFolder(x)">
			<br/>
			<div class="folder-name" style="color:violet">{{x.name}}</div>
		</li>
	</ul>
</div>

<div ng-show="showlocal"class="container" id="local-display">
	
	<div class="dropdown" id="file-operation">
	    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" >
	    	Operation
	    	<span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li class="{{create}}"><a href="#">Create</a></li>
	      <li class="divider"></li>
	      <li class="{{rename}}"><a href="#">Rename</a></li>
	      <li class="divider"></li>
	      <li class="{{del}}"><a href="#">Delete</a></li>
	      <li class="{{download}}"><a href="#">Download</a></li>
	      <li class="{{transfer}}"><a href="#">Transfer</a></li>
	      <li class="divider"></li>
	      <li ng-click="selectAllLocal()"><a href="#">Select-All</a></li>
	      <li ng-click="selectNoneLocal()"><a href="#">Select-None</a></li>
	    </ul>
	</div>

	<ul ng-repeat="x in localFile" class="nav navbar-nav">
		<li>
			<img class="folder-size-red" ng-src="{{x.folder}}" ng-click="toggleFolder(x)">
			<br/>
			<div class="folder-name" style="color:red">{{x.name}}</div>
		</li>
	</ul>
</div>