<center>
<div class="test">
	<button type="button" class="btn btn-primary testGd" ng-Click="testGDrive()"> Test google drive </button>
	<button type="button" class="btn btn-primary testDb" ng-Click="testDropbox()"> Test dropbox </button>
</div>
<br>
</center>
<br/><br/>

<div class="container">
  <center>
  <ul class="nav navbar-nav">
    <li ng-init="imgsrc_google='../img/google.png'" ng-mouseover="imgsrc_google='../img/google_select.png'" ng-mouseout="imgsrc_google='../img/google.png'" class="li-margin"><a ng-style="googleStyle" ng-click="showgoogle=true; showdropbox=false; showbox=false; showlocal= false; googleStyle={'background-color':'green'}; dropboxStyle={'background-color':'white'}; boxStyle={'background-color':'white'}; localStyle={'background-color':'white'}" href="#"><img class="drive-size"ng-src="{{imgsrc_google}}"></a></li>
    <li ng-init="imgsrc_dropbox='../img/dropbox.png'" ng-mouseover="imgsrc_dropbox='../img/dropbox_select.png'" ng-mouseout="imgsrc_dropbox='../img/dropbox.png'" class="li-margin"><a ng-style="dropboxStyle" ng-click="showgoogle=false; showdropbox=true; showbox=false; showlocal= false; googleStyle={'background-color':'white'}; dropboxStyle={'background-color':'blue'}; boxStyle={'background-color':'white'}; localStyle={'background-color':'white'}" href="#"><img class="drive-size" ng-src="{{imgsrc_dropbox}}"></a></li>
    <li ng-init="imgsrc_box='../img/box.png'" ng-mouseover="imgsrc_box='../img/box_select.png'" ng-mouseout="imgsrc_box='../img/box.png'" class="li-margin"><a ng-style="boxStyle" ng-click="showgoogle=false; showdropbox=false; showbox=true; showlocal= false; googleStyle={'background-color':'white'}; dropboxStyle={'background-color':'white'}; boxStyle={'background-color':'violet'}; localStyle={'background-color':'white'}" href="#"><img class="drive-size" ng-src="{{imgsrc_box}}"></a></li>
    <li ng-init="imgsrc_local='../img/local.png'" ng-mouseover="imgsrc_local='../img/local_select.png'" ng-mouseout="imgsrc_local='../img/local.png'" class="li-margin"><a ng-style="localStyle" ng-click="showgoogle=false; showdropbox=false; showbox=false; showlocal= true; googleStyle={'background-color':'white'}; dropboxStyle={'background-color':'white'}; boxStyle={'background-color':'white'}; localStyle={'background-color':'red'}" href="#"><img class="drive-size" ng-src="{{imgsrc_local}}"></a></li>
  </ul>
  </center>
</div>

<div ng-show="showgoogle" class="container" id="google-display">

	<div class="btn btn-primary" id="directoryGoogle" ng--click="outofGoogleFolder()"><span class="glyphicon glyphicon-triangle-left">&nbsp;</span>{{curDirGoogle}}</div>
	<div id="googleRepeat" style="height:88%; width:92%; overflow-y:scroll; margin-top:5px">
		<ul id="{{x.id}}" ng-repeat="x in googleFile" class="nav navbar-nav">
			<li>
				<img class="folder-size-green" ng-src="{{x.folder_image}}" ng-dblclick="intoGoogleFolder(x)">
				<img title="{{x.size}}" data-toggle="tooltip" data-placement="top" class="checkbox-size" ng-src="{{x.folder}}" ng-click="toggleFolder(x, 'g')" tooltip>
				<br/>
				<div class="folder-name" style="color:green">{{x.name}}</div>
			</li>
		</ul>
	</div>

	<div class="dropdown operation-create">
	    <button class="btn btn-primary dropdown-toggle action" id="google-create" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="createHoverIn()" ng-mouseout="createHoverOut()" ng-click="toggleCreateModalGoogle()">
	    <span class="glyphicon glyphicon-size glyphicon-folder-open"></span>
	    </button>
	</div>
	<div class="dropdown operation-copy">
	    <button class="btn btn-primary dropdown-toggle action" id="google-copy" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="copyHoverIn()" ng-mouseout="copyHoverOut()" ng-click="toggleModal(); copyIt()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-file"></span>
	    </button>
	</div>
	<div class="dropdown operation-move">
	    <button class="btn btn-primary dropdown-toggle action" id="google-move" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="moveHoverIn()" ng-mouseout="moveHoverOut()" ng-click="toggleModal(); moveIt()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-transfer"></span>
	    </button>
	</div>
	<div class="dropdown operation-rename">
	    <button class="btn btn-primary dropdown-toggle action" id="google-rename" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="renameHoverIn()" ng-mouseout="renameHoverOut()" ng-click="toggleRenameModalGoogle()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-pencil"></span>
	    </button>
	</div>
	<div class="dropdown operation-delete">
	    <button class="btn btn-primary dropdown-toggle action" id="google-delete" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="deleteHoverIn()" ng-mouseout="deleteHoverOut()" ng-click="toggleDeleteModalGoogle()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-trash"></span>
	    </button>
	</div>
	<div class="dropdown operation-select">
	    <button class="btn btn-primary dropdown-toggle action" id="google-select" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="selectHoverIn()" ng-mouseout="selectHoverOut()" ng-click="selectAllGoogle()">
	    <span class="glyphicon glyphicon-size glyphicon-check"></span>
	    </button>
	</div>
	<div class="dropdown operation-unselect">
	    <button class="btn btn-primary dropdown-toggle action" id="google-unselect" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="unselectHoverIn()" ng-mouseout="unselectHoverOut()" ng-click="selectNoneGoogle()">
	    <span class="glyphicon glyphicon-size glyphicon-unchecked"></span>
	    </button>
	</div>
</div>



<div ng-show="showdropbox" class="container" id="dropbox-display">

	<div class="btn btn-primary" id="directoryDropbox" ng--click="outofDropboxFolder()"><span class="glyphicon glyphicon-triangle-left">&nbsp;</span>{{curDirDropbox}}</div>
	<div style="height:88%; width:92%; overflow-y:scroll; margin-top:5px">	
		<ul id="{{x.id}}" ng-repeat="x in dropboxFile" class="nav navbar-nav">
			<li>
				<img class="folder-size-blue" ng-src="{{x.folder_image}}" ng-dblclick="intoDropboxFolder(x)">
				<img title="{{x.size}}" data-toggle="tooltip" data-placement="top" class="checkbox-size" ng-src="{{x.folder}}" ng-click="toggleFolder(x, 'd')" tooltip>
				<br/>
				<div class="folder-name" style="color:blue">{{x.name}}</div>
			</li>
		</ul>
	</div>
	
<!-- Dropbox -->
<!-- 	<mod title="Create New Folder" visible="createModal">
		<button style="margin-top:60px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<center>
			<h4>Type The Folder Name...<h4><br>
			<input style="width:70%" type="text" name="folderName" id="dropbox-create" value="New Folder"><br><br><br>
			<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" ng-click="createDropboxPerform()" data-dismiss="modal" aria-hidden="true">Confirm</button>
			<div style="width:10px; display:inline-block"></div>
			<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
		</center>
	</mod> -->

<!--  -->
	<div class="dropdown operation-create">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-create" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="createHoverIn()" ng-mouseout="createHoverOut()" ng-click="toggleCreateModalDropbox()">
	    <span class="glyphicon glyphicon-size glyphicon-folder-open"></span>
	    </button>
	</div>
<!--  -->

	<div class="dropdown operation-copy">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-copy" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="copyHoverIn()" ng-mouseout="copyHoverOut()" ng-click="toggleModal(); copyIt()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-file"></span>
	    </button>
	</div>
	<div class="dropdown operation-move">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-move" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="moveHoverIn()" ng-mouseout="moveHoverOut()" ng-click="toggleModal(); moveIt()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-transfer"></span>
	    </button>
	</div>
	<div class="dropdown operation-rename">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-rename" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="renameHoverIn()" ng-mouseout="renameHoverOut()" ng-click="toggleRenameModalDropbox()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-pencil"></span>
	    </button>
	</div>
	<div class="dropdown operation-delete">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-delete" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="deleteHoverIn()" ng-mouseout="deleteHoverOut()" ng-click="toggleDeleteModalDropbox()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-trash"></span>
	    </button>
	</div>
	<div class="dropdown operation-select">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-select" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="selectHoverIn()" ng-mouseout="selectHoverOut()" ng-click="selectAllDropbox()">
	    <span class="glyphicon glyphicon-size glyphicon-check"></span>
	    </button>
	</div>
	<div class="dropdown operation-unselect">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-unselect" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="unselectHoverIn()" ng-mouseout="unselectHoverOut()" ng-click="selectNoneDropbox()">
	    <span class="glyphicon glyphicon-size glyphicon-unchecked"></span>
	    </button>
	</div>
</div>
<!-- End of Dropbox -->

<!-- Box -->
<div ng-show="showbox"class="container" id="box-display">

	<div class="btn btn-primary" id="directoryBox" ng--click="outofBoxFolder()"><span class="glyphicon glyphicon-triangle-left">&nbsp;</span>{{curDirBox}}</div>
	<div style="height:88%; width:92%; overflow-y:scroll; margin-top:5px">
		<ul ng-repeat="x in boxFile" class="nav navbar-nav">
			<li>
				<img class="folder-size-violet" ng-src="../img/folder.png" ng-dblclick="intoBoxFolder(x)">
				<img title="{{x.size}}" data-toggle="tooltip" data-placement="top" class="checkbox-size" ng-src="{{x.folder}}" ng-click="toggleFolder(x, 'b')" tooltip>
				<br/>
				<div class="folder-name" style="color:violet">{{x.name}}</div>
			</li>
		</ul>
	</div>

	<div class="dropdown operation-create">
	    <button class="btn btn-primary dropdown-toggle action" id="box-create" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="createHoverIn()" ng-mouseout="createHoverOut()" ng-click="createBoxPerform()">
	    <span class="glyphicon glyphicon-size glyphicon-folder-open"></span>
	    </button>
	</div>
	<div class="dropdown operation-copy">
	    <button class="btn btn-primary dropdown-toggle action" id="box-copy" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="copyHoverIn()" ng-mouseout="copyHoverOut()" ng-click="toggleModal()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-file"></span>
	    </button>
	</div>
	<div class="dropdown operation-move">
	    <button class="btn btn-primary dropdown-toggle action" id="box-move" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="moveHoverIn()" ng-mouseout="moveHoverOut()" ng-click="toggleModal()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-transfer"></span>
	    </button>
	</div>
	<div class="dropdown operation-rename">
	    <button class="btn btn-primary dropdown-toggle action" id="box-rename" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="renameHoverIn()" ng-mouseout="renameHoverOut()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-pencil"></span>
	    </button>
	</div>
	<div class="dropdown operation-delete">
	    <button class="btn btn-primary dropdown-toggle action" id="box-delete" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="deleteHoverIn()" ng-mouseout="deleteHoverOut()" ng-click="toggleDeleteModal()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-trash"></span>
	    </button>
	</div>
	<div class="dropdown operation-select">
	    <button class="btn btn-primary dropdown-toggle action" id="box-select" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="selectHoverIn()" ng-mouseout="selectHoverOut()" ng-click="selectAllBox()" >
	    <span class="glyphicon glyphicon-size glyphicon-check"></span>
	    </button>
	</div>
	<div class="dropdown operation-unselect">
	    <button class="btn btn-primary dropdown-toggle action" id="box-unselect" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="unselectHoverIn()" ng-mouseout="unselectHoverOut()" ng-click="selectNoneBox()">
	    <span class="glyphicon glyphicon-size glyphicon-unchecked"></span>
	    </button>
	</div>
</div>
<!-- End of Box -->

<!-- Local -->
<div ng-show="showlocal"class="container" id="local-display">

	<div class="btn btn-primary" id="directoryLocal" ng--click="outofLocalFolder()"><span class="glyphicon glyphicon-triangle-left">&nbsp;</span>{{curDirLocal}}</div>
	<div style="height:88%; width:92%; overflow-y:scroll; margin-top:5px">
		<ul ng-repeat="x in localFile" class="nav navbar-nav">
			<li>
				<img class="folder-size-red" ng-src="{{x.folder_image}}">
				<img title="{{x.size}}" data-toggle="tooltip" data-placement="top" class="checkbox-size" ng-src="{{x.folder}}" ng-click="toggleFolder(x, 'l')" tooltip>
				<br/>
				<div class="folder-name" style="color:red">{{x.name}}</div>
			</li>
		</ul>
	</div>

	<div class="dropdown operation-create">
	    <button class="btn btn-primary dropdown-toggle action" id="local-create" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" ng-mouseover="createHoverIn()" ng-mouseout="createHoverOut()" ng-click="togglePickModal()">
	    <span class="glyphicon glyphicon-size glyphicon-download-alt"></span>
	    </button>
	</div>
	<div class="dropdown operation-copy">
	    <button class="btn btn-primary dropdown-toggle action" id="local-copy" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" ng-mouseover="copyHoverIn()" ng-mouseout="copyHoverOut()" ng-click="toggleModal()" disabled>
	    <span class="glyphicon glyphicon-size glyphicon-file"></span>
	    </button>
	</div>
	<div class="verticalLineLocal" style="color:red"></div>
	<div class="dropdown operation-select">
	    <button class="btn btn-primary dropdown-toggle action" id="local-select" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" ng-mouseover="selectHoverIn()" ng-mouseout="selectHoverOut()" ng-click="selectAllLocal()">
	    <span class="glyphicon glyphicon-size glyphicon-check"></span>
	    </button>
	</div>
	<div class="dropdown operation-unselect">
	    <button class="btn btn-primary dropdown-toggle action" id="local-unselect" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" ng-mouseover="unselectHoverIn()" ng-mouseout="unselectHoverOut()" ng-click="selectNoneLocal()">
	    <span class="glyphicon glyphicon-size glyphicon-unchecked"></span>
	    </button>
	</div>
</div>
<!-- End of Local -->

<!-- Destination Popup -->

<modal title="Choose File Destination" visible="showModal">
<button style="margin-top:-60px" type="button" class="close" ng-click="showDestgoogle=false; showDestdropbox=false; showDestbox=false; showDestlocal=false; googleDestStyle={'background-color':'white'}; dropboxDestStyle={'background-color':'white'}; boxDestStyle={'background-color':'white'}; localDestStyle={'background-color':'white'}" data-dismiss="modal" aria-hidden="true">&times;</button>
 <div ng-show="true" class="container" >
  <center>
  <ul class="nav navbar-nav">
    <li ng-init="imgsrc_google='../img/google.png'" ng-mouseover="imgsrc_google='../img/google_select.png'" ng-mouseout="imgsrc_google='../img/google.png'" class="li-margin"><a ng-style="googleDestStyle" ng-click="showDestgoogle=true; showDestdropbox=false; showDestbox=false; showDestlocal=false; googleDestStyle={'background-color':'green'}; dropboxDestStyle={'background-color':'white'}; boxDestStyle={'background-color':'white'}; localDestStyle={'background-color':'white'}; scroll()" href="#"><img class="drive-size" ng-src="{{imgsrc_google}}"></a></li>
    <li ng-init="imgsrc_dropbox='../img/dropbox.png'" ng-mouseover="imgsrc_dropbox='../img/dropbox_select.png'" ng-mouseout="imgsrc_dropbox='../img/dropbox.png'" class="li-margin"><a ng-style="dropboxDestStyle" ng-click="showDestgoogle=false; showDestdropbox=true; showDestbox=false; showDestlocal= false; googleDestStyle={'background-color':'white'}; dropboxDestStyle={'background-color':'blue'}; boxDestStyle={'background-color':'white'}; localDestStyle={'background-color':'white'}; scroll()" href="#"><img class="drive-size" ng-src="{{imgsrc_dropbox}}"></a></li>
    <li ng-init="imgsrc_box='../img/box.png'" ng-mouseover="imgsrc_box='../img/box_select.png'" ng-mouseout="imgsrc_box='../img/box.png'" class="li-margin"><a ng-style="boxDestStyle" ng-click="showDestgoogle=false; showDestdropbox=false; showDestbox=true; showDestlocal= false; googleDestStyle={'background-color':'white'}; dropboxDestStyle={'background-color':'white'}; boxDestStyle={'background-color':'violet'}; localDestStyle={'background-color':'white'}; scroll()" href="#"><img class="drive-size" ng-src="{{imgsrc_box}}"></a></li>
    <!-- Local Destination -->

    <!-- href="home" handles the refresh of the page -->
    <li ng-init="imgsrc_local='../img/local.png'" ng-mouseover="imgsrc_local='../img/local_select.png'" ng-mouseout="imgsrc_local='../img/local.png'" class="li-margin"><a ng-style="localDestStyle" type="file" ng-click="showDestgoogle=false; showDestdropbox=false; showDestbox=false; showDestlocal= true; googleDestStyle={'background-color':'white'}; dropboxDestStyle={'background-color':'white'}; boxDestStyle={'background-color':'white'}; localDestStyle={'background-color':'red'}; scroll(); dropboxToLocalDownload()" href="#"><img class="drive-size" ng-src="{{imgsrc_local}}"></a></li>

<!-- <a target="_self" href="example.com/uploads/asd4a4d5a.pdf" download="foo.pdf"> -->
</input>
    <!-- TODO-->
  </ul>
  </center>
</div>

<div ng-show="showDestgoogle" class="container" id="google-display-destination">

	<div class="btn btn-primary" id="directoryDestGoogle" ng--click="outofGoogleDestFolder()"><span class="glyphicon glyphicon-triangle-left">&nbsp;</span>{{curDestDirGoogle}}</div>
	<div style="height:88%; width:92%; overflow-y:scroll; margin-top:5px">
		<ul ng-repeat="x in googleDestFile" class="nav navbar-nav">
			<li>
				<img class="folder-size-green" ng-src="{{x.folder_image}}" ng-dblclick="intoGoogleDestFolder(x)">
				<img title="{{x.size}}" data-toggle="tooltip" data-placement="top" class="checkbox-size" ng-src="{{x.folderDest}}" ng-click="toggleDestFolder(x, 'g')" tooltip>
				<br/>
				<div class="folder-name" style="color:green">{{x.name}}</div>
			</li>
		</ul>
	</div>

	<div class="dropdown operation-confirm">
	    <button class="btn btn-primary dropdown-toggle action" id="google-confirm" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="confirmHoverIn()" ng-mouseout="confirmHoverOut()" ng-click="uploadLocalToGoogle(); dropboxToGoogle()">
	    <span class="glyphicon glyphicon-size glyphicon-thumbs-up"></span>
	    </button>
	</div>
	<div class="dropdown operation-cancel">
	    <button class="btn btn-primary dropdown-toggle action" id="google-cancel" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="cancelHoverIn()" ng-mouseout="cancelHoverOut()" ng-click="showDestgoogle=false; showDestdropbox=false; showDestbox=false; showDestlocal=false; googleDestStyle={'background-color':'white'}; dropboxDestStyle={'background-color':'white'}; boxDestStyle={'background-color':'white'}; localDestStyle={'background-color':'white'}" data-dismiss="modal" aria-hidden="true">
	    <span class="glyphicon glyphicon-size glyphicon-thumbs-down"></span>
	    </button>
	</div>
	<div class="verticalLine" style="color:green"></div>
	<div class="dropdown operation-selectDest">
	    <button class="btn btn-primary dropdown-toggle action" id="google-selectDest" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="selectDestHoverIn()" ng-mouseout="selectDestHoverOut()" ng-click="selectAllDestGoogle()">
	    <span class="glyphicon glyphicon-size glyphicon-check"></span>
	    </button>
	</div>
	<div class="dropdown operation-unselectDest">
	    <button class="btn btn-primary dropdown-toggle action" id="google-unselectDest" type="button" data-toggle="dropdown" style="background-color:green; border-color:green" ng-mouseover="unselectDestHoverIn()" ng-mouseout="unselectDestHoverOut()" ng-click="selectNoneDestGoogle()">
	    <span class="glyphicon glyphicon-size glyphicon-unchecked"></span>
	    </button>
	</div>
</div>

<div ng-show="showDestdropbox" class="container" id="dropbox-display-destination">

	<div class="btn btn-primary" id="directoryDestDropbox" ng--click="outofDropboxDestFolder()"><span class="glyphicon glyphicon-triangle-left">&nbsp;</span>{{curDestDirDropbox}}</div>
	<div style="height:88%; width:92%; overflow-y:scroll; margin-top:5px">
		<ul ng-repeat="x in dropboxDestFile" class="nav navbar-nav">
			<li>
				<img class="folder-size-blue" ng-src="{{x.folder_image}}" ng-dblclick="intoDropboxDestFolder(x)">
				<img title="{{x.size}}" data-toggle="tooltip" data-placement="top" class="checkbox-size" ng-src="{{x.folderDest}}" ng-click="toggleDestFolder(x, 'd')" tooltip>
				<br/>
				<div class="folder-name" style="color:blue">{{x.name}}</div>
			</li>
		</ul>
	</div>

	<div class="dropdown operation-confirm">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-confirm" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="confirmHoverIn()" ng-mouseout="confirmHoverOut()" ng-click="uploadLocalToDropbox(); googleToDropboxPerform()">
	    <span class="glyphicon glyphicon-size glyphicon-thumbs-up"></span>
	    </button>
	</div>
	<div class="dropdown operation-cancel">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-cancel" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="cancelHoverIn()" ng-mouseout="cancelHoverOut()" ng-click="showDestgoogle=false; showDestdropbox=false; showDestbox=false; showDestlocal=false; googleDestStyle={'background-color':'white'}; dropboxDestStyle={'background-color':'white'}; boxDestStyle={'background-color':'white'}; localDestStyle={'background-color':'white'}" data-dismiss="modal" aria-hidden="true">
	    <span class="glyphicon glyphicon-size glyphicon-thumbs-down"></span>
	    </button>
	</div>
	<div class="verticalLine" style="color:blue"></div>
	<div class="dropdown operation-selectDest">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-selectDest" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="selectDestHoverIn()" ng-mouseout="selectDestHoverOut()" ng-click="selectAllDestDropbox()">
	    <span class="glyphicon glyphicon-size glyphicon-check"></span>
	    </button>
	</div>
	<div class="dropdown operation-unselectDest">
	    <button class="btn btn-primary dropdown-toggle action" id="dropbox-unselectDest" type="button" data-toggle="dropdown" style="background-color:blue; border-color:blue" ng-mouseover="unselectDestHoverIn()" ng-mouseout="unselectDestHoverOut()" ng-click="selectNoneDestDropbox()">
	    <span class="glyphicon glyphicon-size glyphicon-unchecked"></span>
	    </button>
	</div>
</div>

<div ng-show="showDestbox"class="container" id="box-display-destination">

	<div class="btn btn-primary" id="directoryDestBox" ng--click="outofBoxDestFolder()"><span class="glyphicon glyphicon-triangle-left">&nbsp;</span>{{curDestDirBox}}</div>
	<div style="height:88%; width:92%; overflow-y:scroll; margin-top:5px">
		<ul ng-repeat="x in boxDestFile" class="nav navbar-nav">
			<li>
				<img class="folder-size-violet" ng-src="../img/folder.png" ng-dblclick="intoBoxDestFolder(x)">
				<img title="{{x.size}}" data-toggle="tooltip" data-placement="top" class="checkbox-size" ng-src="{{x.folderDest}}" ng-click="toggleDestFolder(x, 'b')" tooltip>
				<br/>
				<div class="folder-name" style="color:violet">{{x.name}}</div>
			</li>
		</ul>
	</div>

	<div class="dropdown operation-confirm">
	    <button class="btn btn-primary dropdown-toggle action" id="box-confirm" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="confirmHoverIn()" ng-mouseout="confirmHoverOut()">
	    <span class="glyphicon glyphicon-size glyphicon-thumbs-up"></span>
	    </button>
	</div>
	<div class="dropdown operation-cancel">
	    <button class="btn btn-primary dropdown-toggle action" id="box-cancel" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="cancelHoverIn()" ng-mouseout="cancelHoverOut()" ng-click="showDestgoogle=false; showDestdropbox=false; showDestbox=false; showDestlocal=false; googleDestStyle={'background-color':'white'}; dropboxDestStyle={'background-color':'white'}; boxDestStyle={'background-color':'white'}; localDestStyle={'background-color':'white'}" data-dismiss="modal" aria-hidden="true">
	    <span class="glyphicon glyphicon-size glyphicon-thumbs-down"></span>
	    </button>
	</div>
	<div class="verticalLine" style="color:violet"></div>
	<div class="dropdown operation-selectDest">
	    <button class="btn btn-primary dropdown-toggle action" id="box-selectDest" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="selectDestHoverIn()" ng-mouseout="selectDestHoverOut()" ng-click="selectAllDestBox()">
	    <span class="glyphicon glyphicon-size glyphicon-check"></span>
	    </button>
	</div>
	<div class="dropdown operation-unselectDest">
	    <button class="btn btn-primary dropdown-toggle action" id="box-unselectDest" type="button" data-toggle="dropdown" style="background-color:violet; border-color:violet" ng-mouseover="unselectDestHoverIn()" ng-mouseout="unselectDestHoverOut()" ng-click="selectNoneDestBox()">
	    <span class="glyphicon glyphicon-size glyphicon-unchecked"></span>
	    </button>
	</div>
</div>

<!-- WORK ON THIS SHIT MATT-->
<!-- Work on HTML stuff here -->
<!-- <div ng-show="showDestlocal"class="container" id="local-display-destination">

	<div class="btn btn-primary" id="directoryDestLocal" ng--click="outofLocalDestFolder()">
	<span class="glyphicon glyphicon-triangle-left">&nbsp;</span>{{curDestDirLocal}}</div>
	<div style="height:88%; width:92%; overflow-y:scroll; margin-top:5px">	
		<ul ng-repeat="x in localDestFile" class="nav navbar-nav">
			<li>
				<img class="folder-size-red" ng-src="../img/folder.png" ng-dblclick="intoLocalDestFolder(x)">
				<img class="checkbox-size" ng-src="{{x.folder}}" ng-click="toggleDestFolder(x)">
				<br/>
				<div class="folder-name" style="color:red">{{x.name}}</div>
			</li>
		</ul>
	</div>

	<div class="dropdown operation-confirm">
	    <button class="btn btn-primary dropdown-toggle action" id="local-confirm" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" ng-mouseover="confirmHoverIn()" ng-mouseout="confirmHoverOut()">
	    <span class="glyphicon glyphicon-size glyphicon-thumbs-up"></span>
	    </button>
	</div>
	<div class="dropdown operation-cancel">
	    <button class="btn btn-primary dropdown-toggle action" id="local-cancel" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" ng-mouseover="cancelHoverIn()" ng-mouseout="cancelHoverOut()" ng-click="showDestgoogle=false; showDestdropbox=false; showDestbox=false; showDestlocal=false; googleDestStyle={'background-color':'white'}; dropboxDestStyle={'background-color':'white'}; boxDestStyle={'background-color':'white'}; localDestStyle={'background-color':'white'}" data-dismiss="modal" aria-hidden="true">
	    <span class="glyphicon glyphicon-size glyphicon-thumbs-down"></span>
	    </button>
	</div>
	<div class="verticalLine" style="color:red"></div>
	<div class="dropdown operation-selectDest">
	    <button class="btn btn-primary dropdown-toggle action" id="local-selectDest" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" ng-mouseover="selectDestHoverIn()" ng-mouseout="selectDestHoverOut()" ng-click="selectAllDestLocal()">
	    <span class="glyphicon glyphicon-size glyphicon-check"></span>
	    </button>
	</div>
	<div class="dropdown operation-unselectDest">
	    <button class="btn btn-primary dropdown-toggle action" id="local-unselectDest" type="button" data-toggle="dropdown" style="background-color:red; border-color:red" ng-mouseover="unselectDestHoverIn()" ng-mouseout="unselectDestHoverOut()" ng-click="selectNoneDestLocal()">
	    <span class="glyphicon glyphicon-size glyphicon-unchecked"></span>
	    </button>
	</div>
</div> -->
<!-- WORK ON THIS SHIT -->

</modal>
<!-- Google Drive -->
<!-- ---------------------- -->
<mod title="Are You Sure You Want to Delete...?" visible="deleteModalGoogle">
<button style="margin-top:-60px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<center>
<div id="google-folder-delete"></div>
<h5>Press The Delete Button To Confirm...</h5><br>
<button id="google-delete-button" style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" ng-click="deleteGooglePerform()" data-dismiss="modal" aria-hidden="true">Delete</button>
<div style="width:10px; display:inline-block"></div>
<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
</center>
</mod>

<mod title="Create New Folder" visible="createModalGoogle">
<button style="margin-top:-60px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<center>
<h4>Type The Folder Name...<h4><br>
<img src="../img/folder.png" style="width:100px;height:100px;"><br>
<div id="google-create-refresh-input">
	<input style="width:70%" type="text" name="folderName" id="google-folder-create" value="New Folder"><br><br><br>
</div>
<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" ng-click="createGooglePerform()" data-dismiss="modal" aria-hidden="true">Confirm</button>
<div style="width:10px; display:inline-block"></div>
<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
</center>
</mod>

<mod title="Rename Folder" visible="renameModalGoogle">
<button style="margin-top:-60px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<center>
<h4>Type The New File or Folder Name...<h4><br>
<img src="{{selectOne.folder_image}}" style="width:100px;height:100px;"><br>
<div id="google-rename-refresh-input">
	<input style="width:70%" type="text" name="newName" id="google-folder-rename" value="{{renameSelect}}"><br><br><br>
</div>
<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" ng-click="renameGooglePerform()" data-dismiss="modal" aria-hidden="true">Confirm</button>
<div style="width:10px; display:inline-block"></div>
<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
</center>
</mod>
<!-- ---------------------- -->
<!-- End of Google Drive -->

<mod title="Select files from your computer" visible="pickModal">
<button style="margin-top:-60px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<center>
        <div class="form-inline">
        <div class="form-group">
            <input type="file" style="margin: 0 auto; width: 80%;" name="files[]" id="js-upload-files" multiple>
        </div>
        </div>
        <br>
        <!-- Drop Zone -->
        <h4>Or drag and drop files below</h4>
        <div class="upload-drop-zone" id="drop-zone">
        	Just drag and drop files here
        </div>
        <button type="submit" style="width:110px; height:50px; font-size:15px" class="btn btn-sm btn-primary" id="js-upload-submit" ng-click="uploadForm()" data-dismiss="modal" aria-hidden="true">Upload Files</button>
        <div style="width:15px; display:inline-block"></div>
		<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<!-- GET HERE -->
    </center>
</mod>

<!-- Dropbox -->
<!-- ---------------------- -->
<mod title="Are You Sure You Want to Delete...?" visible="deleteModalDropbox">
	<button style="margin-top:-60px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<center>
	<div id="dropbox-folder-delete"></div>
	<h5>Press The Delete Button To Confirm...</h5><br>
	<button id="dropbox-delete-button" style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" ng-click="deleteDropboxPerform()" data-dismiss="modal" aria-hidden="true">Delete</button>
	<div style="width:10px; display:inline-block"></div>
	<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</center>
</mod>

<mod title="Create New Folder" visible="createModalDropbox">
	<button style="margin-top:-60px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<center>
	<h4>Type The Folder Name...<h4><br>
	<img src="../img/folder.png" style="width:100px;height:100px;"><br>
	<div id="dropbox-create-refresh-input">
		<input style="width:70%" type="text" name="folderName" id="dropbox-folder-create" value="New Folder"><br><br><br>
	</div>
	<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" ng-click="createDropboxPerform()" data-dismiss="modal" aria-hidden="true">Confirm</button>
	<div style="width:10px; display:inline-block"></div>
	<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</center>
</mod>

<mod title="Rename Folder" visible="renameModalDropbox">
	<button style="margin-top:-60px" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<center>
	<h4>Type The New File or Folder Name...<h4><br>
	<img src="{{selectOneDB.folder_image}}" style="width:100px;height:100px;"><br>
	<div id="dropbox-rename-refresh-input">
		<input style="width:70%" type="text" name="newName" id="dropbox-folder-rename" value="{{renameSelectDB}}"><br><br><br>
	</div>
	<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" ng-click="renameDropboxPerform()" data-dismiss="modal" aria-hidden="true">Confirm</button>
	<div style="width:10px; display:inline-block"></div>
	<button style="width:100px; height:50px; font-size:15px" class="btn btn-sm btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</center>
</mod>
<!-- ---------------------- -->
<!-- End of Dropbox -->

