.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url("../img/background.png");
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 2000px) {
  .container {
    max-width: 2000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#centering{
  text-align: center;
}

li{
  color: white;
}

.li-margin{
  margin-left: 40px;
}

.drive-size{
  height: 200px;
  width: 200px;
  border-color: white;
  border-style: solid;
}

#drive-padding{
  margin-left: 7px;
}

#drive-google{
  margin-left: 7px;
  border-color: green;
  border-style: solid;
  border-width: 8px;
  background-color: black;
}

#drive-dropbox{
  border-color: blue;
  border-style: solid;
  border-width: 8px;
  background-color: black;
}


#drive-box{
  border-color: violet;
  border-style: solid;
  border-width: 8px;
  background-color: black;
}

#drive-local{
  border-color: red;
  border-style: solid;
  border-width: 8px;
  background-color: black;
}


#google-display{
  height: 500px;
  border-color: green;
  border-style: solid;
  border-width: 8px;
  background-color: black;
  margin-left: -10px;
}

#google-display-destination{
  height: 500px;
  border-color: green;
  border-style: solid;
  border-width: 8px;
  background-color: black;
}

#dropbox-display{
  height: 500px;
  border-color: blue;
  border-style: solid;
  border-width: 8px;
  background-color: black;
  margin-left: -10px;
}

#dropbox-display-destination{
  height: 500px;
  border-color: blue;
  border-style: solid;
  border-width: 8px;
  background-color: black;
}

#box-display{
  height: 500px;
  border-color: violet;
  border-style: solid;
  border-width: 8px;
  background-color: black;
  margin-left: -10px;
}

#box-display-destination{
  height: 500px;
  border-color: violet;
  border-style: solid;
  border-width: 8px;
  background-color: black;
}

#local-display{
  height: 500px;
  border-color: red;
  border-style: solid;
  border-width: 8px;
  background-color: black;
  margin-left: -10px;
}

#local-display-destination{
  height: 500px;
  border-color: red;
  border-style: solid;
  border-width: 8px;
  background-color: black;
}

.folder-name{
  margin-top: 5px;
  margin-left: 57px;
  height: 10px;
  width: 100px;
  text-align: center;
  word-wrap: break-word;
}

.folder-size-green{
  margin-top: 30px;
  margin-left: 57px;
  height: 100px;
  width: 100px;
}

.folder-size-green:hover{
  background-color: green;
}

.folder-size-blue{
  margin-top: 30px;
  margin-left: 57px;
  height: 100px;
  width: 100px;
}

.folder-size-blue:hover{
  background-color: blue;
}

.folder-size-violet{
  margin-top: 30px;
  margin-left: 57px;
  height: 100px;
  width: 100px;
}

.folder-size-violet:hover{
  background-color: violet;
}

.folder-size-red{
  margin-top: 30px;
  margin-left: 57px;
  height: 100px;
  width: 100px;
}

.folder-size-red:hover{
  background-color: red;
}

.operation-create{
  margin-left: 1049.5px;
  margin-top: -475.5px;
}

.operation-rename{
  margin-left: 1049.5px;
  margin-top: 5px;
}

.operation-copy{
  margin-left: 1049.5px;
  margin-top: 5px;
}

.operation-move{
  margin-left: 1049.5px;
  margin-top: 5px;
}

.operation-delete{
  margin-left: 1049.5px;
  margin-top: 5px;
}

.operation-select{
  margin-left: 1049.5px;
  margin-top: 5px;
}

.operation-unselect{
  margin-left: 1049.5px;
  margin-top: 5px;
}

.operation-confirm{
  margin-left: 1049.5px;
  margin-top: -475.5px;
}

.operation-cancel{
  margin-left: 1049.5px;
  margin-top: 5px;
}

.operation-selectDest{
  margin-left: 1049.5px;
  margin-top: 7px;
}

.operation-unselectDest{
  margin-left: 1049.5px;
  margin-top: 5px;
}

.checkbox-size{
  margin-top: 65px;
  margin-left: -41px;
  height: 25px;
  width: 25px;
}

#directoryGoogle{
  margin-top: 15px;
  margin-right: 100px;
  height: 34px;
  width: 92%;
  background-color: black;
  border-color: green;
  color: green;
  text-align: left;
}

#directoryDropbox{
  margin-top: 15px;
  margin-right: 100px;
  height: 34px;
  width: 92%;
  background-color: black;
  border-color: blue;
  color: blue;
  text-align: left;
}

#directoryBox{
  margin-top: 15px;
  margin-right: 100px;
  height: 34px;
  width: 92%;
  background-color: black;
  border-color: violet;
  color: violet;
  text-align: left;
}

#directoryLocal{
  margin-top: 15px;
  margin-right: 100px;
  height: 34px;
  width: 92%;
  background-color: black;
  border-color: red;
  color: red;
  text-align: left;
}

#directoryDestGoogle{
  margin-top: 15px;
  margin-right: 100px;
  height: 34px;
  width: 92%;
  background-color: black;
  border-color: green;
  color: green;
  text-align: left;
}

#directoryDestDropbox{
  margin-top: 15px;
  margin-right: 100px;
  height: 34px;
  width: 92%;
  background-color: black;
  border-color: blue;
  color: blue;
  text-align: left;
}

#directoryDestBox{
  margin-top: 15px;
  margin-right: 100px;
  height: 34px;
  width: 92%;
  background-color: black;
  border-color: violet;
  color: violet;
  text-align: left;
}

#directoryDestLocal{
  margin-top: 15px;
  margin-right: 100px;
  height: 34px;
  width: 92%;
  background-color: black;
  border-color: red;
  color: red;
  text-align: left;
}

.panel{
  background-color: yellow;
  height: 1000px;
}

.modal-dialog {
  width: 1200px;
}

.action{
  height: 63.5px;
  width: 85px;
}

.glyphicon-size {
  font-size: 20px;
}

.verticalLine {
  border-left: solid;
  height: 198px;
  margin-left: 1051px;
  margin-top: 7px;
}

.verticalLineLocal {
  border-left: solid;
  height: 200px;
  margin-left: 1051px;
  margin-top: 7px;
}