<div class="container">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#/google"><img class="drive-size" id="drive-padding" src="/images/google.png"></a></li>
    <li><a href="#/dropbox"><img class="drive-size" src="/images/dropbox.png"></a></li>
    <li><a href="#/box"><img class="drive-size" id="drive-box" src="/images/box.png"></a></li>
    <li><a href="#/local"><img class="drive-size" src="/images/local.png"></a></li>
  </ul>
</div>
<div class="container" id="box-display">
<div><h4 style="color:violet"><b>/root</b></h4></div>
	<ul class="nav navbar-nav">
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
  </ul>
  <ul class="nav navbar-nav">
     <li style="margin-left:112px; color:violet">Hello</li>
    <li style="margin-left:130px; color:violet">Myspace</li>
    <li style="margin-left:111px; color:violet">Hackathon</li>
    <li style="margin-left:118px; color:violet">Wattup</li>
    <li style="margin-left:125px; color:violet">Labbook</li>
  </ul>
  <ul class="nav navbar-nav">
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
    <li><img class="folder-size-violet" src="/images/folder.png"></a></li>
  </ul>
  <ul class="nav navbar-nav">
  	<li style="margin-left:90px; color:violet">Workspace</li>
    <li style="margin-left:112px; color:violet">Resume</li>
    <li style="margin-left:130px; color:violet">Project</li>
    <li style="margin-left:117px; color:violet">Homework</li>
    <li style="margin-left:117px; color:violet">Pictures</li>
  </ul>
</div>