<div class="container">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#/google"><img class="drive-size" id="drive-padding" src="/images/google.png"></a></li>
    <li><a href="#/dropbox"><img class="drive-size" id="drive-dropbox" src="/images/dropbox.png"></a></li>
    <li><a href="#/box"><img class="drive-size" src="/images/box.png"></a></li>
    <li><a href="#/local"><img class="drive-size" src="/images/local.png"></a></li>
  </ul>
</div>
<div class="container" id="dropbox-display">
<div><h4 style="color:blue"><b>/root</b></h4></div>
	<ul class="nav navbar-nav">
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
  </ul>
  <ul class="nav navbar-nav">
  	<li style="margin-left:99px; color:blue">Labbook</li>
    <li style="margin-left:118px; color:blue">Hackthon</li>
    <li style="margin-left:122px; color:blue">Wattup</li>
    <li style="margin-left:123px; color:blue">Myspace</li>
    <li style="margin-left:130px; color:blue">Hello</li>
  </ul>
  <ul class="nav navbar-nav">
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
    <li><img class="folder-size-blue" src="/images/folder.png"></a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li style="margin-left:102px; color:blue">Pictures</li>
    <li style="margin-left:125px; color:blue">Project</li>
    <li style="margin-left:120px; color:blue">Homework</li>
    <li style="margin-left:117px; color:blue">Resume</li>
    <li style="margin-left:112px; color:blue">Workspace</li>
  </ul>
</div>