<div class="container">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#/google"><img class="drive-size" id="drive-google" src="/images/google.png"></a></li>
    <li><a href="#/dropbox"><img class="drive-size" src="/images/dropbox.png"></a></li>
    <li><a href="#/box"><img class="drive-size" src="/images/box.png"></a></li>
    <li><a href="#/local"><img class="drive-size" src="/images/local.png"></a></li>
  </ul>
</div>
<div class="container" id="google-display">
<div><h4 style="color:green"><b>/root</b></h4></div>
	<ul class="nav navbar-nav">
    <li><img onclick="changeFunc(this)" class="folder-size-green" src="/images/folder.png"></a></li>
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li style="margin-left:90px; color:green">Workspace</li>
    <li style="margin-left:112px; color:green">Resume</li>
    <li style="margin-left:130px; color:green">Project</li>
    <li style="margin-left:117px; color:green">Homework</li>
    <li style="margin-left:117px; color:green">Pictures</li>
  </ul>
  <ul class="nav navbar-nav">
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
    <li><img class="folder-size-green" src="/images/folder.png"></a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li style="margin-left:112px; color:green">Hello</li>
    <li style="margin-left:130px; color:green">Myspace</li>
    <li style="margin-left:111px; color:green">Hackathon</li>
    <li style="margin-left:118px; color:green">Wattup</li>
    <li style="margin-left:125px; color:green">Labbook</li>
  </ul>
</div>