<div class="container">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#/google"><img class="drive-size" id="drive-padding" src="/images/google.png"></a></li>
    <li><a href="#/dropbox"><img class="drive-size" src="/images/dropbox.png"></a></li>
    <li><a href="#/box"><img class="drive-size" src="/images/box.png"></a></li>
    <li><a href="#/local"><img class="drive-size" id="drive-local" src="/images/local.png"></a></li>
  </ul>
</div>
<div class="container" id="local-display">
<div><h4 style="color:red"><b>/root</b></h4></div>
	<ul class="nav navbar-nav">
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li style="margin-left:102px; color:red">Pictures</li>
    <li style="margin-left:125px; color:red">Project</li>
    <li style="margin-left:120px; color:red">Homework</li>
    <li style="margin-left:117px; color:red">Resume</li>
    <li style="margin-left:112px; color:red">Workspace</li>
  </ul>
  <ul class="nav navbar-nav">
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
    <li><img class="folder-size-red" src="/images/folder.png"></a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li style="margin-left:99px; color:red">Labbook</li>
    <li style="margin-left:118px; color:red">Hackthon</li>
    <li style="margin-left:122px; color:red">Wattup</li>
    <li style="margin-left:123px; color:red">Myspace</li>
    <li style="margin-left:130px; color:red">Hello</li>
  </ul>
</div>